*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
ul{
    list-style-type: none;
}
nav{
    background-color: rgb(242, 215, 147);
    padding: 30px;
}
h1{
    margin: 5rem 0;
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    color: #676767;
}

.logo{
    position: absolute;
    top: 1rem;
    left: 5rem;
}
.navbar{
    display: flex;
    justify-content: flex-end;
}
.navbar li{
    margin-left: 10px;
    margin-right: 10px;
}


.titleContainer {
    display: flex;
    justify-content: center;
}
.cardContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 8rem;
}
.card{
    width: 10%;
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: #E1E1E1;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
}

.blogContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}
.work{
    font-size: 2rem;
    margin: 4rem 0;
}
.blog, .blogIzq{
    display: flex;
    align-items: center;
    width: 80%;
}
.blogIzq{
    flex-direction: row-reverse;
}
.blog div,
.blogIzq div{
    width: 60%;
    margin: auto;
    text-align: left;
}
.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header" "header" "header" "header" 
    "galeria" "galeria" "galeria" "galeria"
    "footer" "footer" "footer" "footer";

}
.header{
    grid-area: header;
    background-color: aqua;

}
.galeria-grid{
    grid-area: galeria;
    background-color: blue;
}
.footer{
    grid-area: footer;
    background-color: red;
}